<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Cameron's Customs</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Cameron's Customs</a>
        </li>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/shop">Shop</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>
    <section>
      <h1>Oops! The page you're looking for doesn't exist.</h1>

      <button class="button-link">
        <a href="/">Home</a>
      </button>
    </section>
  </body>
</html>
